*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}
/* Animations */

@keyframes FirstHalf {
    0% {

        background-color:rgb(0, 0, 0);


    }
    100% {

        background-color: rgb(130, 130, 114);


    }
}
@keyframes SecondHalf {
    0% {

        background-color: rgb(0, 0, 0);


    }
    100% {

        background-color: rgb(233, 233, 130);


    }
 
}
@keyframes Final {
    0% {

        background-color: rgb(233, 233, 130);



    }
    100% {

        background-color: rgb(238, 238, 31);


    }
}
main {

padding:0 !important;

}
.Animation1 {

   animation: FirstHalf 3s 1 forwards;

}
.Animation2 {

    animation: SecondHalf 3s 1 forwards;
 
 }
 .Animation3 {

    animation: Final 3s 1 forwards;
 
 }
h1 {

color:red;

}
h2 {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.TimerContent {

    display:flex;
    justify-content: center;
    flex-direction:column;
margin:auto;
align-items: center;
height:100vh;

}
.Mat {

   
    display:flex;
    justify-content: center;
    flex-direction:column;
margin:auto;
align-items: center;
width:58%;
height:85vh;
background: rgb(122,40,18);
}
body {
    overflow:hidden;
    background-color:#4A1C02 !important;
    /* background: rgb(238,155,1);
    background: linear-gradient(-90deg, rgba(238,155,1,1) 0%, rgba(235,124,16,1) 50%, rgba(122,40,18,1) 100%); */
}
#Timer {
display:block;
color:white;

}
.BtnStarter {
   display:block;
    background-color:rgb(41, 40, 40);
    color:white;
    padding:10px;

}
::-webkit-scrollbar {

    display:none;

}
#Greeter {
color:orange;
font-family:Arial, Helvetica, sans-serif;
letter-spacing: 2px;
z-index:9999;
font-weight:bold;
margin-left:70px;
width:70%;
margin-left:2rem;
padding:1px;
}
#Windows {
    width:100%;
padding:0 !important;
margin:0 !important;
    display:flex;
} 
.Window {
    width:100%;
    height:64vh;
    border:12px inset #2E1005;
   margin-left:2px;
   background-color:rgba(205, 197, 176, 0.2);
}
.WindowBuilding {
    width:300px;
    height:100px;
    border:1px solid #5e5a58 !important;
   background-color:rgba(205, 197, 176, 0.2);

}
.BuildingContent {
  

}
.Outside {
  background: rgb(238,155,1);
    background: linear-gradient(180deg, rgb(238, 155, 1) 0%, rgba(235,124,16,1) 50%, rgba(122,40,18,1) 100%); 
    width:100%;
    height:100%;
 display:flex;
 justify-content:space-between;
 flex-direction:row;
}
/* This is the actual colour that's "outside" */
.Door {
    position: relative;
    width: 500px;
    height: 700px;
    background: linear-gradient(180deg, rgb(238, 155, 1) 0%, rgba(235,124,16,1) 50%, rgba(122,40,18,1) 100%); 
    border: 30px inset #250f06;
    z-index: 12;
    display:flex;
    justify-content: center;
    align-items: center;
}
.DoorDetails {
height:20vh;
background-color:black;
border:2px solid black;
width:1px;
/* border-radius:50%; */
position:relative;
top:0.625rem;
left:9.375rem;
}
/* This is to make the front background colour transparent to give the look of glass */
.Door::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:4px solid #291107;

    background-color: rgba(127, 182, 141, 0.2); 
    z-index: -1; 
}    
.Cup {

    width:30px;
    height:20px;
    border-left:transparent;
    border-right:transparent;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    /* background-color:rgb(182, 141, 141); */
    background: linear-gradient(90deg, rgb(129, 127, 123) 0%, rgb(255, 255, 255) 50%, rgba(249, 246, 238) 90%); 

    position:relative;
    bottom:17px;
    left:5px;
   z-index:9999;
    color:rgb(96, 77, 77);
    font-weight:700;
}
.ObjectCon {

    display:flex;
    justify-content: space-around;


}
#Objects {

    display:flex !important;
flex-direction:column;
}
.book {
border-left: 3px solid #570a4f;
border-top:3.5px solid #570a4f;
border-bottom:2.5px solid #570a4f;
/* border-right:10px solid white;
border-bottom:5px solid black; */
background-color:white;
width:80px;
    height:13px;
    position:relative;
    bottom:20px;
    z-index:9990;
    outline:1px inset black;

}
.Cup2 {

    width:30px;
    height:20px;
    border-left:transparent;
    border-right:transparent;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    /* background-color:rgb(182, 141, 141); */
    background: linear-gradient(90deg, rgb(129, 127, 123) 0%, rgb(255, 255, 255) 50%, rgba(249, 246, 238) 90%); 

    position:absolute;
    bottom:17px;
    margin-bottom:-4px;
    margin-left:10px;
    opacity:0.2;
    color:rgb(96, 77, 77);
    font-weight:700;
}
.plate {

    width:40px;
    height:10px;
    border-radius:30%;
    background-color:white;
    position:relative;
    bottom:20px;
    z-index:9990;
    outline:1px inset black;
}
.plate2 {
    width:40px;
    height:10px;
    border-radius:30%;
    background-color:white;
    position:relative;
    z-index:9990;
    outline:1px inset black;
    position:absolute;
    bottom:10px;
    margin-bottom:-4px;
    margin-left:10px;
    z-index:99;
    opacity:0.3;


}
.OnTable {
    height:10vh;
display:flex;

    
}
.People {
    display:none;
    width:100%;
    height:100px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, #040622 0%, #000000 100%);
  position:absolute;
  z-index:9999;
  opacity:0.3;
}
.Roof {
    /* margin-left:70px; */
    position:relative;
    top:30px;
    left:110px;
    height:40vh;
    width:70vh;
    border-bottom: 70px solid 		#29334a;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
   
}
/* #144c36 colour for the roof btw*/

.Roof2 {
    width:100%;
    height:10vh;
    background-color:#3a1d0c;
    /* border-top: 70px solid #3a1d0c;
    border-bottom: 35px solid transparent;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent; */
}

.Pane {
    margin-left:10px;
    width:3px;
    background-color:#4A1C02;
    outline: 1px solid black;
    height:85.9%;
    position:absolute;
  z-index:9910;
}
.Rec {
    top:90%;
    width:100%;
    height:30vh;
   position:absolute;
   background-color:black;

}
.Pane1 {
    margin-left:330px;
    width:8px;
    background-color:#280f01;

    height:87%;
    position:absolute;
  z-index:9910;
}
.Pane2 {
    margin-left:700px;
    width:8px;
    background-color:#280f01;

    height:87%;
    position:absolute;
  z-index:9910;
}
.PaneH {
    width:199%;
    background-color:#4A1C02;
    bottom:70%;
    height:8px;
    position:absolute;
  z-index:9918;


}
.PaneB {
    width:100%;
    background-color:#4A1C02;
    bottom:0.3%;
    position:absolute;
  z-index:9910;

}
.Pane3 {
    margin-left:900px;
    width:3px;
    background-color:black;
    height:85.9%;
    position:absolute;
  z-index:9910;
}

.Floor {
    height:58vh;
    width:100%;
    border-bottom: 30px solid 	#323031;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position:absolute
}
.Building {
    width:300px;
    height:53px;
    background-color:#665F81;
}
.Build {

  display:flex;
  justify-content:space-evenly
}
.Chair {

    position:absolute;
    width:100%;
    height:300px;
   z-index:9500;
   opacity:0.2;
}

#BG {
   padding:0 !important;
   margin:0 !important;
    height:70vh;
    rotate:0deg;
}
.Overlay {
    /* opacity:1;
    z-index:9999;
    position:absolute;
    width:100%;
    padding:0;
    height:70vh;
    top:0;
    background: rgb(127,43,19);
    background: linear-gradient(90deg, rgba(127,43,19,1) 0%, rgba(122,40,18,0) 100%); */
}
#BG2 {
    background-color:#44200A;
    height:4vh;
    
}
#BG3 {
    background-color:#2E1005;
    height:27vh;
    display:flex;
    justify-content: space-between;
    z-index:1;
}
#BGShadow {
    background-color:#000000;
    height:10vh;
    width:74.7%;
   position:absolute;
   opacity:0.3;
   z-index:12;
}
.ShadowFlex {
     
    display:flex;
    justify-content: flex-end;

}
.Boards {
    background-color:black;
width:3px;
height:27vh;
border:1px solid #2E1005;


}