*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}
/* Animations */

@keyframes FirstHalf {
    0% {

        background-color:rgb(0, 0, 0);


    }
    100% {

        background-color: rgb(130, 130, 114);


    }
}
@keyframes SecondHalf {
    0% {

        background-color: rgb(0, 0, 0);


    }
    100% {

        background-color: rgb(233, 233, 130);


    }
 
}
@keyframes Final {
    0% {

        background-color: rgb(233, 233, 130);



    }
    100% {

        background-color: rgb(238, 238, 31);


    }
}
main {

padding:0 !important;

}
.Animation1 {

   animation: FirstHalf 3s 1 forwards;

}
.Animation2 {

    animation: SecondHalf 3s 1 forwards;
 
 }
 .Animation3 {

    animation: Final 3s 1 forwards;
 
 }
h1 {

color:red;

}
h2 {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white !important;

}
.TimerContent {

    display:flex;
    justify-content: center;
    flex-direction:column;
margin:auto;
align-items: center;
height:100vh;

}
.Mat {

   
    display:flex;
    justify-content: center;
    flex-direction:column;
margin:auto;
align-items: center;
width:58%;
height:85vh;
background: rgb(122,40,18);
}

#Timer {
display:block;
color:white;

}
.BtnStarter {
   display:block;
    background-color:rgb(41, 40, 40);
    color:white;
    padding:10px;

}
::-webkit-scrollbar {

    display:none;

}
#Greeter {
color:orange !important;
-webkit-text-stroke-width: 2px;
letter-spacing: 3px;
z-index:9999;
}
#BG {
    background: rgb(238,155,1);
    background: linear-gradient(-90deg, rgba(238,155,1,1) 0%, rgba(235,124,16,1) 50%, rgba(122,40,18,1) 100%);
    height:70vh;
    rotate:0deg;
}
.Overlay {
    /* opacity:1;
    z-index:9999;
    position:absolute;
    width:100%;
    padding:0;
    height:70vh;
    top:0;
    background: rgb(127,43,19);
    background: linear-gradient(90deg, rgba(127,43,19,1) 0%, rgba(122,40,18,0) 100%); */
}
#BG2 {
    background: rgb(53,38,26);
background: linear-gradient(90deg, rgba(53,38,26,1) 0%, rgba(40,28,20,1) 100%);
    height:30vh;
    
}

