*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}
/* Animations */

@keyframes FirstHalf {
    0% {

        background-color:rgb(0, 0, 0);


    }
    100% {

        background-color: rgb(130, 130, 114);


    }
}
@keyframes SecondHalf {
    0% {

        background-color: rgb(0, 0, 0);


    }
    100% {

        background-color: rgb(233, 233, 130);


    }
 
}
@keyframes Final {
    0% {

        background-color: rgb(233, 233, 130);



    }
    100% {

        background-color: rgb(238, 238, 31);


    }
}
main {

padding:0 !important;

}
.Animation1 {

   animation: FirstHalf 3s 1 forwards;

}
.Animation2 {

    animation: SecondHalf 3s 1 forwards;
 
 }
 .Animation3 {

    animation: Final 3s 1 forwards;
 
 }
h1 {

color:red;

}
h2 {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white !important;

}
.TimerContent {

    display:flex;
    justify-content: center;
    flex-direction:column;
margin:auto;
align-items: center;
height:100vh;

}
.Mat {

   
    display:flex;
    justify-content: center;
    flex-direction:column;
margin:auto;
align-items: center;
width:58%;
height:85vh;
background: rgb(122,40,18);
}
body {
    overflow:hidden;
    background-color:#4A1C02 !important;
    /* background: rgb(238,155,1);
    background: linear-gradient(-90deg, rgba(238,155,1,1) 0%, rgba(235,124,16,1) 50%, rgba(122,40,18,1) 100%); */
}
#Timer {
display:block;
color:white;

}
.BtnStarter {
   display:block;
    background-color:rgb(41, 40, 40);
    color:white;
    padding:10px;

}
::-webkit-scrollbar {

    display:none;

}
#Greeter {
color:#9d3813 !important;
font-family:Arial, Helvetica, sans-serif;
-webkit-text-stroke-width: 1px;
letter-spacing: 5px;
z-index:9999;
font-weight:300;
}
#Windows {
    width:100%;
padding:0 !important;
margin:0 !important;
    display:flex;
} 
.Window {
    width:100%;
    height:64vh;
    border:12px inset #2E1005 !important;
   margin-left:2px;
   background-color:rgba(205, 197, 176, 0.2);
}
.WindowBuilding {
    width:300px;
    height:100px;
    border:1px solid #5e5a58 !important;
   background-color:rgba(205, 197, 176, 0.2);

}
.BuildingContent {
  

}
.Outside {
  background: rgb(238,155,1);
    background: linear-gradient(180deg, rgb(238, 155, 1) 0%, rgba(235,124,16,1) 50%, rgba(122,40,18,1) 100%); 
    width:100%;
    height:100%;
 display:flex;
 flex-direction:column;
 justify-content: flex-end;
}
.Door {
position:relative;
    width:500px;
height:700px;
background-color:rgba(208, 219, 211, 0.5);
border:12px solid #2c1001;
z-index:12;
}
.Roof {
    /* margin-left:70px; */
    position:relative;
    top:30px;
    left:110px;
    height:40vh;
    width:70vh;
    border-bottom: 70px solid 		#29334a;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
   
}
.Roof2 {
    height:10vh;
    width:100vh;
    border-bottom: 25px solid 		#242d42;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
.Floor {
    height:30vh;
    width:100%;
    border-bottom: 40px solid 	#323031;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
       display:flex;
}
.Building {
    width:300px;
    height:53px;
    background-color:#665F81;
}
.Build {

  display:flex;
  justify-content:space-evenly
}
.Chair {

    position:absolute;
    width:100px;
    height:300px;
    background-color:orange;
   z-index:9000;
}
#BG {
   padding:0 !important;
   margin:0 !important;
    height:70vh;
    rotate:0deg;
}
.Overlay {
    /* opacity:1;
    z-index:9999;
    position:absolute;
    width:100%;
    padding:0;
    height:70vh;
    top:0;
    background: rgb(127,43,19);
    background: linear-gradient(90deg, rgba(127,43,19,1) 0%, rgba(122,40,18,0) 100%); */
}
#BG2 {
    background-color:#44200A;
    height:4vh;
    
}
#BG3 {
    background-color:#2E1005;
    height:27vh;
    display:flex;
    justify-content: space-between;
    z-index:1;
}
#BGShadow {
    background-color:#000000;
    height:10vh;
    width:74.9%;
   position:absolute;
   opacity:0.3;
   z-index:2;
}
.ShadowFlex {
     
    display:flex;
    justify-content: flex-end;

}
.Boards {
    background-color:black;
width:3px;
height:27vh;
border:1px solid #2E1005;


}